{
	auto_https off
}

:80 {
	
	log {
		output file /var/log/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 720h
		}
	}

	handle_path /prometheus* {
        basic_auth /* {
            {$BASIC_AUTH_USER} {$BASIC_AUTH_HASHED_PASSWORD}
        }
		reverse_proxy prometheus:9090
	}

	handle_path /alerts* {
        basic_auth /* {
            {$BASIC_AUTH_USER} {$BASIC_AUTH_HASHED_PASSWORD}
        }
		reverse_proxy alertmanager:9093
	}

	handle_path /unsee* {
        basic_auth /* {
            {$BASIC_AUTH_USER} {$BASIC_AUTH_HASHED_PASSWORD}
        }
		reverse_proxy unsee:8080
	}

	handle {
		reverse_proxy grafana:3000
	}
}
